.network-policy-editor {
  .monaco-editor,
  .monaco-editor-background,
  .monaco-editor .inputarea.ime-input {
    background-color: $gray-50;
  }
}

.threat-monitoring-alert-drawer .gl-drawer-header {
  align-items: flex-start;
}

.policy-editor .policy-table-left {
  flex: 4;
}
